@()

<div>
    <div>
        <p>Files:</p>
        <input type="text" class="name-input new-file-name" placeholder="File name">
        <button class="new-file-btn">New File</button>
        <div class="package-files"></div>
    </div>
    <div>
        <p>Dependencies:</p>
        <input type="text" class="name-input new-dependency-name" placeholder="Dependency name">
        <button class="new-dependency-btn">New Dependency</button>
        <div class="package-dependencies"></div>
    </div>
    <div>
        <p>Views: -1</p>
        <p>Installations: -1</p>
    </div>
</div>