@()

<div>
    <div>
        <input type="text" class="name-input new-package-name" placeholder="Repository name">
        <button class="new-package-btn">Create package</button>
    </div>
    <div>
        <div>Collaborators:</div>
        <div>
            <input type="text" class="name-input new-collaborator-name" placeholder="Collaborator GitHub name">
            <button class="new-collaborator-btn">Add collaborator</button>
        </div>
        <div class="collaborator-list"></div>
    </div>

    <!--TODO: Style/Stats-->
</div>