@()

@main("MPT v3") {
    <div id="root">
        <div class="menu-holder">
            <div>
                <span>MPTv3</span>
            </div>
            <div id="side-menu"></div>
            <div class="credits">
                <p>CREDITS</p>
                <hr>
                <p>Icons by</p>
                <p><a href="http://www.freepik.com" title="Freepik">Freepik</a></p>
                <p><a href="http://www.flaticon.com/authors/anton-saputro" title="Anton Saputro">Anton Saputro</a></p>
                <p>from <a href="http://www.flaticon.com" title="Flaticon">flaticon.com</a></p>
                <p><a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
            </div>
        </div>
        <div class="content">
            <div id="tab-switcher" class="tab-switcher"></div>
            <div id="tab-container" class="tab-container"></div>
        </div>
    </div>
    @playscalajs.html.selectScript("client")
    @playscalajs.html.launcher("client")
}
